html, body, #app-container, .page
  height: 100%
  overflow: hidden

body
  min-width: 100%
  margin: 0

body, input, select, textarea, button
  font-family: Lato, sans-serif

.loading
  position: absolute
  top: 50%
  left: 50%
  height: 240px
  line-height: 240px
  width: 240px
  margin: -120px
  text-align: center
  text-transform: uppercase
  color: #ccc

.tinyBox
  position: relative
  float: left
  height: 33.33333333%
  width: 33.33333333%
  cursor: pointer
  font-size: 30px
  color: #3498db + #444
  background-color: #3498db

p
  margin: 0

form
  position: absolute
  bottom: 0

input, button
  line-height: 60px
  margin: 0
  padding: 0
  border: 0
  outline: 0
  font-size: 30px
  background-color: #3498db - #222

input
  width: 86%
  padding-right: 12%
  padding-left: 2%

button
  position: absolute
  right: 0
  width: 10%