html, body, #app-container, .page
  height: 100%
  overflow: hidden

body
  min-width: 100%
  margin: 0

body, input, select, textarea, button
  font-family: Lato, sans-serif

.loading
  position: absolute
  top: 50%
  left: 50%
  height: 240px
  line-height: 240px
  width: 240px
  margin: -120px
  text-align: center
  text-transform: uppercase
  color: #ccc

.tinyBox, .lockedBox
  position: relative
  float: left
  height: 33.33333333%
  width: 33.33333333%
  overflow: hidden
  font-size: 30px

.tinyBox
  cursor: pointer

.lockedBox
  background: #333

.messageTransitionContainer p
  position: absolute

.message-enter, .message-leave
  transition: top 0.3s linear

.message-enter
  top: 100%
  &.message-enter-active
    top: 0

.message-leave
  top: 0
  &.message-leave-active
    top: -100%

p
  margin: 0

form
  position: absolute
  bottom: 0

input, button
  line-height: 60px
  margin: 0
  padding: 0
  border: 0
  outline: 0
  font-size: 30px

input
  width: 86%
  padding-right: 12%
  padding-left: 2%

button
  position: absolute
  right: 0
  width: 10%
